header {
  padding: 0px;
  margin: 10px;
  font-family: 'Avenir Next';
  color: #224499;
  background-color: none;
  font-size: 150%;
  text-align: center;
}

h1 {
  margin: 50px;
}

body {
  font-family: 'Avenir Next';
}

#mapContainer {
  text-align: center;
}

h2 {
  padding: 5px;
  font: #224499;
  text-align: center;
  margin: 10px;
}

.button {
  font-family: 'Avenir Next';
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  color: #224499;
  border-color: #224499;
  border-radius: 5px;
  border-width: 2px;
  width: 10%;
  height: 150%;
  padding: 5px;
}

.button:hover {
  background-color: #224499;
  color: white;
}

#economicFreedomButton {
  margin: 10px;
}

#overallFreedomButton {
  margin: 10px;
}

#humanFreedomButton {
  margin: 10px;
}

map {
  margin: 0 auto;
}

.country {
  fill: lightgrey;
  stroke: none;
}

.outline{
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

.graticule {
  fill: none;
  stroke:  lightgrey ;
}

div.tooltip1 {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  font: 'Avenir Next';
  background: burlywood;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#lessFreedom {
  position: absolute;
  left: 0;
}

#moreFreedom {
  right: 400px;
}

#scatterplotGroup {
  margin: 100px;
}

svg {
  display: block;
  margin: 0 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 40%;
  /* padding-left: 50px; */
}

.column1 {
  float: right;
  padding-right: 100px;
}

#legendText {
  border-style: solid;
  border-width: 1px;
  background-color: white;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#legendText:hover {
  background-color: #224499;
  color: white;
}

#resetButton {
  float: right;
  font-family: 'Avenir Next';
  font-size: 15px;
  background-color: white;
  color: #224499;
  width: 50px;
  border-style: solid;
  border-color: #224499;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
}

#resetButton:hover {
  background-color: #224499;
  color: white;
}

.column a {
  text-align: center;
}

footer {
  padding: 100px;
  background-color:#FFFFFF;
  color: #224499;
  line-height: 28px;
}

p {
  text-align: center;
}

.grid line {
  stroke: lightgrey;
}

.grid path {
    stroke-width: 0.5;
}
