header {
  padding: 0px;
  font-family: 'Avenir Next';
  color: #224499;
  background-color: none;
  font-size: 150%;
  text-align: center;
}

body {
  font-family: 'Avenir Next';
}

h2 {
  padding: 30px;
  font: #224499;
  text-align: center;
}

.button {
  font-family: 'Avenir Next';
}

.button:hover {
  background-color: blue;
  color: white;
}

#economicFreedomButton {
}

#humanFreedomButton {
}

#overallFreedomButton {
}

#overallFreedomButton:hover {
  background-color: blue;
  color: white;
}

svg {
  display: block;
  margin: 0 auto;
}

.country {
  fill: lightgrey;
  stroke: none;
}

.outline{
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

.graticule {
  fill: none;
  stroke:  lightgrey ;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: burlywood;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column a {
  text-align: center;
}

#scatterplotLegend {
}

footer {
  padding: 100px;
  background-color:#FFFFFF;
  color: #224499;
  line-height: 28px;
}

p {
  text-align: center;
}
